%table
  %tr
    %td= "Date: "
    %td= l.date.strftime("%m/%d/%y")
  %tr
    %td= "Client: "
    %td= (l.client.nil? ? "" : l.client.name)
  %tr
    %td= "Hours Worked: "
    %td= best_in_place l, :time, :type => :input
  %tr
    %td= "Description: "
    %td= best_in_place l, :description, :type => :textarea
%hr
