%table
  %tr
    %td= "Date: "
    %td= best_in_place l, :date, :type => :input
  %tr
    %td= "Client: "
    %td= (l.client.nil? ? "" : l.client.name)
  %tr
    %td= "Hours Worked: "
    %td= best_in_place l, :time, :type => :input
  %tr
    %td= "Description: "
    %td= best_in_place l, :description, :type => :textarea
